.placeOrderBtn{
    background-color: #ff7004;
    color: white;
}
.placeOrderBtn:hover{
    background-color: black;
    color: white;
}
@media (max-width: 768px) {
    .billingDetails {
       flex-wrap: wrap;
    }
}