.loginRegisterLabel {
    text-align: center !important;
    padding: 30px;
}

.loginRegisterLabel .breadcrumb {
    display: flex !important;
    justify-content: center !important;
}
.loginForm{
    margin-bottom: 20px;
}
.loginForm .btn{
    background-color: #f2f2f2;
}
.loginForm .btn:hover{
    background-color: #ff6e04;
    color: white;
}